* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
}

#introduction {
    background-color: blueviolet;
    background-image: url(images/sufi-gathering.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}